# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# VSCode / MacOS system files
.vscode/
.DS_Store

# Uploaded videos (runtime data, not code)
uploads/
frames/
styled_frames/
styled_videos/

# Environment variables
.env

# Terraform
*.tfstate
*.tfstate.backup
.terraform/